
html {
    font-size:1.0em;
    position: relative;
    min-height: 100%;
    min-width:100%;
  }


body {
    background-color: #000;
    padding-top: 0px;
    font-family: 'Sintony', Arial, sans-serif;
    color: white;
    background: url('../images/bg3.jpg') no-repeat;
    background-size: cover;
    background-position:bottom;
    /* min-height:100vh; */
    margin-bottom: 60px; /* Margin bottom by footer height */
    
}


#hangmanImg img{
    width:100%;
    border:2px solid #fff;
}



#titleImg{
    width:80%;
    padding:5px 0px;
}

.imgWrap, #titleImg{
    margin:0px auto;
    text-align:center;
 }


.contentCol {
    border: 2px solid #fff;
    margin-top: 0px;
    background-color: rgba(0, 40, 104, .7);
    display:inline-block;
}

.contentCol:nth-child(2n){
    margin-bottom:40px;
} 

.hint{
    padding:20px;
}


 header{
    background:rgba(255, 255, 255, .1);
} 

.contentWrap{
    padding:0;
}

.footer{
    background:rgba(255, 255, 255, .2);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; /* Set the fixed height of the footer here */
    color:#002868;
    font-size:.9em;
}


.game{
    padding-left:0px;
    padding-right:0px;
    display:inline-block;
    min-height:100%;
}

#lettersGuessedContain{
    background:rgba(0, 40, 104, .5);
    padding: 25px 0px 0px 15px;
    color:#fff;
    vertical-align:bottom;
    margin:0px;
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    border-top: 1px solid #fff;
    font-size: 1.3em;
    height: 4em;
}

#lettersGuessedTitle{
    font-weight:bold;
}

#activeWordContain{
    display:inline-block;
    margin: 0px auto;
    width: 100%;
    vertical-align: middle;
}

#activeWordDiv{
    height:10em;
    margin-bottom:8em;
    padding-top: 2em;
}



#guessesRemainingTitle{
    float:left;
    font-weight:bold;
    font-size:1.2em;
    text-align:right;
    padding-right:0px;
    }
    
    #winsTitle{
    float:right;
    font-weight:bold;
    font-size:1.2em;
    }


#progressBar{
    background:rgba(0, 40, 104, .5);
    padding:15px;
    color:#fff;
    border-bottom:1px solid #fff;
    width:100%;
    margin-left:0px;
}

#activeWord{
    text-align:center;
}


 #guessThePlayer{
    clear:both;
    text-align:center;
    padding-top:20px;
}

#guessThePlayer{font-weight:bold;padding-bottom:10px;font-size: 2.2em;}

#directionsText{
    text-align:center; 
    /* background:#002868; */
    background:rgba(255, 255, 255, .5);
    color:#002868;
    padding:10px;
    width:100%;
    font-weight:bold;
    font-size:2em;
    /* margin-top:10px; */
    border:2px solid #fff;
    border-bottom:0px;
}

#youWin, #youLose, #tryAgain{
    text-align:center;
    font-weight:bold;
    background:#fff;
    color:#002868;
    margin-top: 15px;
    padding:7px 0px;
    border-radius:4px;
    width:fit-content;
    border:1px solid #002868;
    width:100%;
    font-size:1.8em;
    margin-bottom:0px;
}

#guessesRemaining, #winsTotal, #lettersGuessed{
    font-weight:normal;
}

#guessesRemainingContain, #winsTotalContain{
    background:#fff;
    color:#002868;
    padding:3px 7px;
    border-radius:4px;
    width:fit-content;
    border:1px solid #002868;
}

#guessesRemainingContain{
    float:right;
}



    @media (max-width:576px){
        #titleImg{
            width:100%;
        }
        #directionsText{
            font-size:1.6em;
        }

    }
    
    
    @media (min-width: 768px){ 
        
    }
    
    
    @media (max-width: 992px) { 
        .hint{
            border-top:0px;
        }
    }
    
    @media (min-width: 992px){
      .contentCol{
          margin-bottom:40px;
    }

    #activeWordDiv{
            padding-top: 7%;
        }

}
    
    
/*     
    @media (min-width: 992px) and (max-width: 1199.98px) { 

    } */
    
    @media (min-width: 1200px) { 
        #activeWordDiv{
            padding-top: 8%;
        }
    }
    
    