
html {
    font-size:1.0em;
    position: relative;
    min-height: 100%;
    min-width:100%;
  }


body {
    background-color: #000;
    padding-top: 0px;
    font-family: Verdana, Geneva, 'Tahoma', sans-serif;
    color: white;
    background: url('../images/bg3.jpg') no-repeat;
    background-size: cover;
    background-position:bottom;
    min-height:100vh;
    margin-bottom: 60px; /* Margin bottom by footer height */
    
}
.container { 
    text-align: center;
    
}
h1,h2,h3,
h4,h5,h6 {
    padding: 5px;
}
#titleImg, #gameOver, #youWin{ 
    display: block;
    margin: 0 auto;
}

#titleImg{
    width:80%;
    padding:5px 0px;
}

#currentWord {
    letter-spacing: 10px;
}

#pressKeyTryAgain, 
#gameOver, 
#youWin { display: none;}
.contentCol {
    padding-top: 20px;
    border: 2px solid #fff;
    text-align: center;
    margin-top: 0px;
    min-height: 500px;
    background-color: rgba(0, 40, 104, .7);
    margin-bottom:40px;
}

 /* .contentCol:nth-child(2n){
    margin-bottom:40px;
}  */

 header{
    background:rgba(255, 255, 255, .1);
} 

.contentWrap{
    padding:0;
}

.footer{
    background:rgba(255, 255, 255, .2);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; /* Set the fixed height of the footer here */
    color:#002868;
    font-size:.9em;
    padding
}